

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url("../fonts/Satisfy.woff") format('woff');
}
















